## **Background**

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
# Import dataset

pail= 'https://drive.google.com/file/d/1ELg9NNsaC44Q8r-Y7i8UKzUwZuNKFEom/view?usp=sharing'
url= 'https://drive.google.com/uc?id=' + pail.split('/')[-2]
datar= pd.read_csv(url)
datar.head()

,order_id,product_code,product_name,quantity,order_date,price,customer_id
0,493410,TEST001,This is a test product.,5,2010-01-04 09:24:00,4.50,12346.0
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0
2,493412,TEST001,This is a test product.,5,2010-01-04 09:53:00,4.50,12346.0
3,493413,21724,PANDA AND BUNNIES STICKER SHEET,1,2010-01-04 09:54:00,0.85,NaN
4,493413,84578,ELEPHANT TOY WITH BLUE T-SHIRT,1,2010-01-04 09:54:00,3.75,NaN

## **Data Understanding**

In [4]:
# Data Info Check
datar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461773 entries, 0 to 461772
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      461773 non-null  object
 1   product_code  461773 non-null  object
 2   product_name  459055 non-null  object
 3   quantity      461773 non-null  int64
 4   order_date    461773 non-null  object
 5   price         461773 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 24.7+ MB

In [5]:
# Order Id column check
cid=[]
for i in datar['order_id']:
    cek= re.findall(r'\D',i)
    if cek!=[] and cek not in cid:
        cid.append(cek)
print(cid)

[['C'], ['A']]

In [6]:
# Whats 'C' in order_id
datar[datar['order_id'].str.contains('C')].head()

,order_id,product_code,product_name,quantity,order_date,price,customer_id
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0
12,C493415,21527,RETRO SPOT TRADITIONAL TEAPOT,-3,2010-01-04 10:33:00,7.95,14590.0
13,C493426,22109,FULL ENGLISH BREAKFAST PLATE,-1,2010-01-04 10:41:00,3.39,16550.0
56,C493430,21556,CERAMIC STRAWBERRY MONEY BOX,-1,2010-01-04 11:43:00,2.55,14680.0
57,C493430,21232,STRAWBERRY CERAMIC TRINKET BOX,-2,2010-01-04 11:43:00,1.25,14680.0

In [7]:
# Product code cek (ends with letter)
pc= []
for i in datar['product_code']:
    cek= re.findall(r'[A-Za-z]$',i)
    if cek!=[] and i not in pc:
        pc.append(i)

print(pc)

['35001G', '18096C', '72369A', '84563A', '84562A', '85123A', '84029E', '47591D', '85132B', '84032A', '84997A', '84997B', '84997C', '84997D', '15060B', '85099C', '85099B', '84520D', '84596F', '84596B', '84596E', '84559A', '84031B', '72800D', '72038P', '84031A', '16207A', '40046A', '84288B', '85231B', '85231L', '85049B', '84558A', '35004P', '35004G', '46776A', '46776B', '46776E', '46776C', '46776F', '72800C', '72799F', '72799C', '72799E', '72800F', '72800A', '72800B', '72799A', '85132A', '71028B', '85167B', '85166B', '85167A', '85183A', '85183B', '47347B', '84596K', '84596J', '84535A', '79190B', '79190A', '79190D', '85099F', '82001S', '84671B', '84741C', '85049F', '84029C', '84509F', '85232B', '46000M', '47566B', '79323W', '85129C', '85129D', '84845C', '84845D', '82494L', '17164D', '84292B', '85199L', '85185B', '85185F', '47578A', '84659A', '35096A', '35096B', '84970L', '85185C', '84510A', '40046C', '84753A', '84029D', '84671A', '90004A', '90121B', '35980C', '62097A', '84877C', '85232C', '90082C', '84750B', '79191B', '47503K', '35471A', '47591C', '84078A', '35609A', '85231E', '85231G', '47021G', '47504E', '17129C', '48173C', 'POST', '35004B', '85049A', '85049C', '16161U', '16161P', '16161M', '79323GR', '17129F', '79323B', '15056BL', '84933C', '90214S', '90214G', '90214N', '90214C', '72754D', '84970S', '72750B', '72753D', '72754B', '84029G', '84509C', '84510C', '84968C', '47556B', '79030G', '85184C', '84249D', '84247G', '16156S', '72740A', '82616B', '85166A', '72351B', '72351A', '18098C', '85226A', '85226C', '85035C', '85035B', '85035A', '84926C', '84971L', '47503G', '90214K', '84559B', '84559D', '84032B', '84508C', '85135A', '84993B', '47310M', '85170A', '84279P', '85130C', '85130A', '85129B', '85129A', '85014A', '51012C', '84884A', '84971S', '84520B', '37494A', '72799B', '84614C', '84562B', '16169N', '16169P', '84804B', '84802A', '84802B', '85097B', '84801A', '84798A', '84798C', '84925A', '84801B', '85194S', '84509B', '72802B', '84510B', '35811A', '35810A', '35809A', '84849B', '47570B', '84586L', '40018E', '84750A', '85014D', '85168B', '85168A', '85121C', '47503J', '16168M', '84402D', '16156N', '72750C', '85019A', '17091J', '17091A', '85169B', '85169A', '85049E', '85164B', '72802A', '85098B', '85023A', '72802C', '72807B', '72807C', '47599A', '84313A', '84406B', '40018F', '84327A', '84967B', '72023F', '79323P', '85036B', '85031A', '85132C', '72750D', '47574B', 'M', '16207B', '46000U', '85025B', '16256C', '51014A', '85032A', '85031B', '85031C', '84968D', '75049L', '75149N', '79323LP', '72760B', '85121B', '35809B', '35810B', '85014B', '85180A', '84536B', '84534B', '84535B', '84533B', '84532B', '72807A', '84803A', '84993A', '84989B', '84989A', '37492B', '37492C', '37492D', '84247L', '16256B', '15044C', '37462B', '51020B', '51020A', '15056N', '79144C', '35912B', '35913B', '35910B', '35910A', '35911A', '72750A', '84856L', '84856S', '62096A', '62096B', '17129D', '85071A', '85071B', '84519A', '85036A', '84611B', '85163B', '17136A', '47503H', '18097C', '90186B', '90190A', '15044D', '47590B', '85194L', '84450A', '84508A', '79340W', '47559B', '79302M', '84509G', '15044B', '85017A', '84279B', '16258A', '37492A', '85135B', '17108D', '85232D', '85232A', '84924D', '84705A', '84612B', '84625A', '85184D', '72739B', '72739C', '35471D', '47567B', '85049D', '85049H', '84509A', '35004C', '84876B', '16156L', '17091F', '85040A', '84537B', '47581B', '84519B', '47590A', '85162B', '85162A', '85162C', '85040B', '35001W', '37462E', '84745A', '84745B', '85036C', '85061W', '84870B', '84507C', '84985B', '84968B', '90037D', '90123D', '90130D', '90177B', '90202D', '90129F', '90175A', '90177E', '90183B', '90184C', '84414B', '84968A', '90038A', '90040D', '90065B', '90129A', '90027D', '84968E', '90010B', '90016C', '90129B', '90161C', '90185C', '90198A', '90206C', '90024C', '90129E', '90185D', '90200D', '90209B', '84596L', '84952C', '46775E', '90209C', '90210A', 'DOT', '35598D', '46775A', '46775D', '47585A', '82613C', '84596G', '84951A', '84951B', '84952A', '90002D', '90002E', '90003D', '90003E', '90005A', '90013B', '90018A', '90019A', '90039D', '90120C', '90185A', '90185B', '90200C', '90201A', '90201B', '90201D', '15044A', '85086A', '90183C', '90201C', '46776D', '79191C', '82011C', '84086C', '84255B', '84601A', '90000A', '90059E', '90122A', '90122B', '90200A', '18094C', '84968F', '47504G', '47594B', '82607A', '82607C', '82613D', '84251J', '84313C', '90059D', '90129C', '90199B', '90210D', '90211A', '35599D', '37479B', '72045D', '79303D', '84450B', '84529A', '84536A', '84707B', '84711B', '84912A', '85017C', '85130B', '85159A', '85199S', '90001A', '90010A', '90010E', '90013C', '90025F', '90037A', '90042A', '90120A', '90120B', '90120D', '90123B', '90129D', '90161A', '90161B', '90165B', '90177C', '90212B', '82613A', '84251F', '84437A', '84509E', '84510E', '85124A', '85205B', '90013A', '90059C', '90160C', '90163A', '90164A', '90165A', '90181B', '47563A', '47587A', '84984D', '16168S', '37491B', '90081A', '90081C', '75013B', '84660A', '85026B', '47599B', '85230E', '85230F', '85188A', '82616A', '85186C', '85188B', '72349B', '72606A', '72753B', '72753C', '72753A', '84625D', '47583A', '85179B', '84985A', '47594A', '90161D', '90184B', '90195A', '35981C', '72740B', '85186A', '90141A', '90210B', '84247N', '85017B', '90125D', '81952B', '82607E', '84705C', '84595E', '84706C', '16169G', '84899E', '79066K', '81952V', '84661A', '90014A', '90039B', '90177A', '84706D', '84459B', '72800E', '46138B', '46000S', '79323S', '79323G', '84782C', '84782A', '84247H', '85136A', '84706B', '79342B', '84925F', '84925E', '84925D', '85230B', '35095A', '35095B', '72801F', '90214D', '85034A', '85025C', '85169D', '72803A', '84986B', '84625B', '17165D', '90011C', '90013D', '90164B', '90058B', '35004S', '17164B', '17165B', '84507B', '85114B', '90013E', '90059F', '90182C', '90202B', '17084N', '35915C', '72529W', '82616C', '72801G', '84597B', '84913B', '90019C', '90082D', '90176A', '90184A', '90200B', '37444C', '47504H', '84459A', '90001B', '90064A', '90160A', '16244B', '47591B', '79303B', '81950B', '84952B', '16244A', '15058B', '84762B', '85159B', '90124B', '90160B', '35637C', '84597C', '84899F', '84932D', '85130D', '84707A', '17014D', '84760S', '82613B', '90130B', '90198B', '90214R', '51014C', '90003C', '90040A', '90067A', '79191D', '90059A', '90177D', '84660C', '84709B', '35918B', '84706A', '84510F', '47591A', 'BANK CHARGES', '37489A', '37489D', '72755C', '90200E', '82545A', '90036C', '90036D', '84575B', '17109B', '85018A', '84849D', '15056P', '85014C', '35603B', '84251G', '90175D', '90205A', '90205C', '90211B', '85135C', '10123C', '85136B', '85206B', '85206A', '16206B', '84762C', '51014L', '16202E', '84661B', '84247K', '72796A', '72225C', '72225D', '85230A', '72024U', '84875A', '17109A', '17109C', '17109D', '17014A', '84595B', '84933A', '84933B', '90141E', '90040B', '90035A', '47504K', '47503E', '84795E', '84870C', '46000P', '84795A', '85136C', '17011A', '81985A', '84931A', '72796C', '72796B', '18097B', '84712B', '84708B', '85028L', '85028S', '85027L', '84984B', '84984C', '45008C', '47504F', '85124B', '85170C', '85170D', '90018B', '90187A', '90082A', '84972M', '47592A', '47592B', '79026B', '85124C', '90000C', '90186A', '85160A', '85185D', '90027B', '90030C', '90202C', '77101A', '90189A', '35915B', '72785A', '85023C', '79144B', '90036E', '90036B', '90036A', '90059B', '90183A', '90197B', '62094B', '84663A', '35909B', '85024C', '85049G', '84966B', '84966A', '84800L', '84804A', '84874B', 'D', 'PADS', '16161G', '16161E', '85023B', '85024B', '84867A', '84877D', '84913A', '90175B', '85034C', '90141D', '90178A', '84250M', '90003B', '90014C', '90018C', '85185E', '85039A', '84570B', '17084R', '72803B', '84876C', '17091B', '44091C', '90014B', '90019B', '90199D', '84255A', '85180B', '84661C', '79065A', '17014F', '72799D', '72801E', '85114C', '84933D', '16200A', '85131A', '35813A', '37445A', '37445C', '37365Y', '37445D', '84569C', '84313B', '90122C', '90187B', '46126A', '37493C', '37493B', '37493D', '84874A', '84898E', '79023B', '84984A', '37379A', '44266F', '47581A', '79065B', '84494B', '72801D', '84575A', '84555A', '85039C', '16162L', '72798C', '84531A', '35637A', '84782B', '15058A', '15058C', '90128A', '90162D', '90162A', '90128B', '84569D', '84569A', '47593B', '47593A', '37489C', '85039B', '84806A', '84531B', '72140E', '85131D', '90190C', '72751D', '72697A', '85170B', '72024HC', '35638A', '85034B', '47367B', '17191A', '84909A', '44241C', '84030b', '85071C', '84596e', '84951b', '18098c', '72801d', '84993b', '84873a', '18096c', '84795D', '84989b', '84993a', '84867b', '84206A', '37491C', '84673A', '10002R', '79303A', '84030B', '16169M', '84405A', '84868A', '84868B', '85032B', '47518F', '71434B', '84795C', '46000R', '90040C', 'ADJUST', '48173A', '90179A', '90181A', '72754A', '72755D', '17107D', '16156A', '16169H', '84809B', '84809A', '35822B', '35822P', '85071D', '84932B', '90016B', '16243B', '72051S', '79192A', '37491A', '90039C', '37491D', '71495B', '35916B', '35916A', '90124A', '90024A', '90024E', '90024D', '90180A', '90196A', '90196B', '90042B', '90195B', '47574A', '90178B', '90214A', '84931B', '84508B', '90058A', '84569B', '90002C', '84800M', '85131C', '90209A', '84596I', '47340A', '84251C', '84673B', '46137D', '84803B', '90190B', '72785B', '37444A', '84797A', '90012B', '82011B', '90214B', '90214E', '84858C', '17013F', '84925C', '84429A', '84558a', '84559a', '82613a', '82613b', '82613c', '79071B', '84711A', '85163A', '84924A', '90214O', '17084P', '84927E', '84849A', '84932C', '90197D', '85205A', '84427B', '84898F', '84963A', '84967A', '82011A', '84926F', '35824B', '37482P', '85193S', '85018C', '90214J', '90214V', '18094A', '84425A', '84857A', '84875D', '84876D', '17007B', '84859A', '84859B', '47583B', '72045A', '79064C', '79302C', '79302J', '79308B', '84248E', 'DCGSSGIRL', '35818C', '44091A', '72755A', '82011E', '16245B', '16222B', '35001C', '72798B', '79057B', '84341A', '79082C', '84585L', '84672A', '84752B', '84845A', '16248A', '18096B', '70037L', '16065A', '84705E', '90197A', '84927A', '84927F', '79315B', '79070B', '84460A', '84750C', '84810C', '72348B', '72771C', '16155H', '37490C', '45008L', '84897A', '72620A', '17084A', '17084J', '44089A', '44089C', '17027A', '84563B', '47013A', '82039C', '84857B', '84873B', '47586A', '79003B', '84249A', '72140D', '90060C', '15060A', '72671B', '85207B', '84867B', '62095B', '72798A', '84845B', '17012C', '90065A', '35591G', '47504J', '47595B', '72754C', '90035B', '84932A', 'GIFT', '47285B', '47284V', '79053D', '84476A', '16249B', '72801H', '84248F', '84896C', '84926B', '90060D', '90005B', '90197C', '35915A', '84966C', '72751B', '84908A', '72751C', '72801C', '85192S', '79157B', '79149B', '84910A', '79030D', '72331R', '84864A', '90125E', '35916C', '90210C', '71495A', '90082B', '90202A', '90060F', '84814A', '84849C', '84415B', '84250H', '84600A', '79030A', '84964A', '16201B', '10124A', '84597A', '84967C', '37489B', 'DCGSLBOY', '84248B', '35604B', '37477C', '37477D', '90060B', '90130A', '47563B', '17013D', '84529B', '47503F', '44217M', '17012E', '84402C', '16161N', '35975A', '90025A', '84964B', '17011D', '35608C', '84440B', '35608A', '37488A', '84965A', '16201C', '35471B', '90189B', '90002B', '90025D', '85032C', '84762A', '90038B', '90141B', '90025C', '35607A', '85230G', '47552A', '79051A', '84614A', '35816B', '90002A', '35816P', '79315W', '35911B', '90206A', '90199A', '90039A', '16202C', '90030A', '90030B', '72807c', '84884a', '85039a', '47559b', '85035b', '79066k', '85039b', 'm', '72801c', '79342b', '84997d', '47556b', '72351a', '72801g', '84030c', '84800S', '90127B', '85184B', '85160B', '90038C', '85179A', '35001B', '79340P', '35823P', '85169C', '84846A', '90180B', '90179B', '16169D', '71101E', '84965B', '84030E', '37477B', '35976B', '16243A', '84705D', '16245A', '62097B', '35909A', '84751B', '72083A', '81953P', 'DCGSSBOY', 'DCGSLGIRL', '79071A', '45007B', '37490D', '35632A', '85085A', '18098B', '90128D', '84760L', '17010S', '84877A', '72226D', '17084F', '17084G', '17014B', '85231A', '84439B', '17013E', '71101A', '35631B', '84444C', '37482B', '16201A', '16202B', '90199C', '90001D', '84877B', '90214L', '44242B', '71496A', '84795B', '84660B', '84529C', '62086A', '90162C', '90162B', '84805A', '84706F', '84908B', '85019C', '84705F', '90181C', '90027C', '84205C', '90214M', '17012F', '17012B', '17012A', '17013C', '84924F', '84926A', '84858A', '84912B', '90011A', '90012A', '90067B', '16169K', '90214H', '90214I', '84796A', '84796B', '84797B', '84873A', '84872A', '84030C', '90160D', '18097A', '79302m', '84520b', '84797a', '15060b', '84661c', '85160a', '85132b', '90125B', '90214P', 'S', '16202A', '84798B', '84625C', '17090D', '90037C', '90001C', '90176C', '90025E', '90025B', '47369A', '35824C', '84251B', '90135A', '90000D', '90011B', '90016A', '79172D', '51012L', '16020C', '90011D', '90126B', '17090A', '79161A', '90036F', '17012D', '90163B', '84743C', '84806B', '84613C', '85018D', '35085E', '90214T', '90037B', '85186B', '71406C', '85019B', '90026A', '90000B', '37379B', '90027A', '90024B', '90011E', '84926D', '84926E', '35824P', '35598B', '84805B', '46138D', '44242A', '90212C', '40005B', '72140F', '37444B', '72084B', '62074B', '84341B', '72349b', '85160b', '84796a', '84797b', '72807a', '48173c', '84536a', '85231e', '72801e', '85232b', '84509c', '17011F', '90152C', '35001P', '35638B', '90123C', '84914A', '84613A', '90124C', '90141C', '85018B', '35821B', '90130C', '84510e', '84596j', '85232a', '84872a', '47348A', '47351B', '35818B', '84875B', '90123A', '84927D', '90024F', '47503A', '71496B', '90064B', '81950V', '84997a', '85040b', '47518f', '90126A', '84247C', '84858B', 'B', '90152A', '90152B', '16169A', '16151A', '62043B', '85033G', '82494l', '47594a', '84867a', '84972L', '84247E', '46115B', '44242C', '81953B', '47013C', '17014E', '47369B', '72751A', '72771B', '35630B', '35631A', '10124C', '84519D', '85226B', '17011B', '85231K', '84706E', '35607B', '85086B', '35819B', '10124G', '35817B', '35817P', '35818P', '84201B', '84732B', '35980B', '84086B', '18098A', '84206C', '35908C', '84387A', '90214Z', '84891B', '16162M', '84963B', '72038B', '85131B', '90175C', '84402B', '37487B', '35597D', '84709A', '46037A', '71406B', '84660c', '84970l', '85124a', '84986b', '85040a', '84971s', '47593a', '84985b', '90042C', '90081B', '90125A', '90066A', '90035C', '90026D', '90128C', '15056bl', '35004c', '47591c', '84970s', '85099b', '84989a', '90214W', '90026B', '72802a', '84596b', '84795b', '84510c', '84968d', '85123a', '15056n', '84968e', '84424A', '85115B', '37479P', '35600D', '90214F', '90179C', '84857C', '78034B', '85114A', '47343A', '35271S', '84534b', '85099c', '85049e', '47566b', '85049b', '84510a', '15056p', '85124b', '84997b', '84536b', '85014b', '84660b', '85014a', '47570b', '84985a', '90142A', '90126C', '84859C', '84968a', '47590a', '85132c', '84509e', '35611B', '35603C', '35838A', '35838B', '10123G', '44092C', '44092B', '85114c', '85184d', '85124c', '84415A', '16169F', '85032D', '85099f', '84796b', '84968b', '82001s', '84510b', '84660a', '85114b', '47344B', '72807b', '35610A', '35610C', '35610B', '47591d', '85049a', '35597B', '90063A', '90063B', '90176D', '35633B', '35833G', '84201C', '84206B', '35833P', '84997c', '35591T', '35597A', '47341B', '16169C', '84596f', '47341A', '35599B', '84247D', '16248B', '85033S', '47591b', '85232d', '84559b', '84030e', '49031B', '84509a', '85231b', '84968f', '85184c', '84661a', '84732D', '35815P', '85114a', '85036b', '84559d', '35004p', '90026C', '85179a', '90214Y', '90214U', '85017D', '90176B', '90125C', 'AMAZONFEE', '90142C', '85179C', '85132a', '47567b', '47590b', '90127A', '90142B', '85035c', '85035a', '90142D', '35809a', '84596g', '90182A', '85049g', '72803b', '79151B']

In [8]:
# are they sellable product?
datar[datar['product_code']=='84563A'].head()   # I thought these are sellable prodcuts.

,order_id,product_code,product_name,quantity,order_date,price,customer_id
32,493428,84563A,PINK & WHITE BREAKFAST TRAY,1,2010-01-04 11:15:00,5.95,16550.0
45410,498300,84563A,PINK & WHITE BREAKFAST TRAY,2,2010-02-18 09:14:00,5.95,17157.0
71391,501080,84563A,PINK & WHITE BREAKFAST TRAY,1,2010-03-12 11:19:00,11.87,NaN
72435,501154,84563A,PINK & WHITE BREAKFAST TRAY,1,2010-03-14 15:17:00,5.95,17849.0
86581,502675,84563A,PINK & WHITE BREAKFAST TRAY,2,2010-03-26 10:02:00,5.95,14013.0

In [9]:
# Product Code Check (start with letter or only letter)
pcc= []
for i in datar['product_code']:
    cek= re.findall(r'^([A-Za-z])[A-Za-z]*\d*\D*+$',i)
    if i not in pcc and cek!=[]:
        pcc.append(i)
print(pcc)

['TEST001', 'POST', 'M', 'DOT', 'DCGS0058', 'BANK CHARGES', 'D', 'PADS', 'DCGS0068', 'DCGS0076', 'ADJUST', 'DCGSSGIRL', 'DCGS0006', 'DCGS0016', 'DCGS0027', 'DCGS0036', 'DCGS0039', 'DCGS0060', 'DCGS0056', 'DCGS0059', 'GIFT', 'DCGSLBOY', 'C2', 'm', 'DCGS0053', 'DCGS0004', 'DCGS0062', 'DCGS0037', 'DCGSSBOY', 'DCGSLGIRL', 'S', 'DCGS0069', 'DCGS0070', 'DCGS0075', 'B', 'DCGS0041', 'DCGS0003', 'ADJUST2', 'C3', 'SP1002', 'AMAZONFEE']

In [10]:
# are they sellable product?
datar[datar['product_code']=='DCGS0041'].head()

,order_id,product_code,product_name,quantity,order_date,price,customer_id
163954,511021,DCGS0041,HAYNES MINI-COOPER PLAYING CARDS,1,2010-06-04 16:13:00,5.06,NaN

In [11]:
# Quantity Check
datar[datar['quantity']<0].head()

,order_id,product_code,product_name,quantity,order_date,price,customer_id
1,C493411,21539,RETRO SPOTS BUTTER DISH,-1,2010-01-04 09:43:00,4.25,14590.0
12,C493415,21527,RETRO SPOT TRADITIONAL TEAPOT,-3,2010-01-04 10:33:00,7.95,14590.0
13,C493426,22109,FULL ENGLISH BREAKFAST PLATE,-1,2010-01-04 10:41:00,3.39,16550.0
56,C493430,21556,CERAMIC STRAWBERRY MONEY BOX,-1,2010-01-04 11:43:00,2.55,14680.0
57,C493430,21232,STRAWBERRY CERAMIC TRINKET BOX,-2,2010-01-04 11:43:00,1.25,14680.0

In [12]:
# Price check
datar[datar['price']<0].head()

,order_id,product_code,product_name,quantity,order_date,price,customer_id
124462,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN
213524,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN
329774,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN

**NOTE**
1. There are missing value from product_name and customer_id columns.
2. There are some inappropriate data type.
3. There are unique codes from order_id colomns. order_id starts with 'C' will be clasifeid as canceled order and 'A' will be clasdified as Adjustment.
4. There are some unnecessary product code and we assume there aren't transsaction goods from cust, so will be drop soon.
5. Most of a negative values from quantity columns are canceled order or Missing value from product_name.
6. Negative values from price are adjustment product.

## **Data Cleansing**

In [13]:
# Drop missing value
set= datar.copy()
datac= set.dropna()
datac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 360853 entries, 0 to 461744
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      360853 non-null  object
 1   product_code  360853 non-null  object
 2   product_name  360853 non-null  object
 3   quantity      360853 non-null  int64
 4   order_date    360853 non-null  object
 5   price         360853 non-null  float64
 6   customer_id   360853 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 22.0+ MB

In [14]:
# Drop all unnecessary data
sep='|'
product_filter= sep.join(pcc)


datac= datac[~(datac['order_id'].str.contains('C|A',case=False) |
             datac['product_code'].str.contains(product_filter,case=False))]
datac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332945 entries, 6 to 461743
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      332945 non-null  object
 1   product_code  332945 non-null  object
 2   product_name  332945 non-null  object
 3   quantity      332945 non-null  int64
 4   order_date    332945 non-null  object
 5   price         332945 non-null  float64
 6   customer_id   332945 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 20.3+ MB

In [15]:
# Check Again
dtc=[]
for i in datac['product_code']:
    cek= re.findall(r'^([A-Za-z])[A-Za-z]*\d*\D*+$',i)
    if i not in dtc and cek!=[]:
        dtc.append(i)
print(dtc)

[]

In [16]:
# Change data type
datac['order_date']= pd.to_datetime(datac['order_date'])
datac['customer_id']= datac['customer_id'].astype(str)
datac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 332945 entries, 6 to 461743
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      332945 non-null  object
 1   product_code  332945 non-null  object
 2   product_name  332945 non-null  object
 3   quantity      332945 non-null  int64
 4   order_date    332945 non-null  datetime64[ns]
 5   price         332945 non-null  float64
 6   customer_id   332945 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 20.3+ MB

In [17]:
# Outlier Handling
from scipy import stats
zkor= stats.zscore(datac[['quantity','price']])
datac[(zkor>3)]

,order_id,product_code,product_name,quantity,order_date,price,customer_id
127,493434,21355,TOAST ITS - I LOVE YOU,288,2010-01-04 12:54:00,1.05,13798.0
201,493436,20868,SILVER FABRIC MIRROR,240,2010-01-04 13:03:00,0.38,13694.0
202,493436,20869,GOLD FABRIC MIRROR,240,2010-01-04 13:03:00,0.38,13694.0
210,493436,72800C,S/4 PINK DINNER CANDLE SILVER FLOCK,252,2010-01-04 13:03:00,0.79,13694.0
211,493436,72799F,IVORY PILLAR CANDLE GOLD FLOCK,480,2010-01-04 13:03:00,1.25,13694.0
...,...,...,...,...,...,...,...
459285,539663,22823,CHEST NATURAL WOOD 20 DRAWERS,1,2010-12-21 10:26:00,125.00,17961.0
459589,539721,22616,PACK OF 12 LONDON TISSUES,1296,2010-12-21 13:34:00,0.25,17306.0
459669,539728,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,2010-12-21 14:26:00,16.95,16270.0
460679,539762,62018,SOMBRERO,400,2010-12-22 10:29:00,1.25,13953.0
460942,539920,22797,CHEST OF DRAWERS GINGHAM HEART,2,2010-12-23 11:06:00,16.95,14085.0

Outlier datas are transcation of customer with a huge quantity. But, we try to drop outlier data fro next analysis.

In [18]:
# Drop outlier
datac= datac[(zkor<3).all(axis=1)]
datac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 329675 entries, 6 to 461743
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      329675 non-null  object
 1   product_code  329675 non-null  object
 2   product_name  329675 non-null  object
 3   quantity      329675 non-null  int64
 4   order_date    329675 non-null  datetime64[ns]
 5   price         329675 non-null  float64
 6   customer_id   329675 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 20.1+ MB

In [19]:
datac.describe()

            quantity                     order_date          price
count  329675.000000                         329675  329675.000000
mean        9.674765  2010-07-23 20:29:32.263775232       2.848155
min         1.000000            2010-01-04 10:28:00       0.000000
25%         2.000000            2010-04-26 12:51:00       1.250000
50%         4.000000            2010-08-05 13:31:00       1.950000
75%        12.000000            2010-10-25 14:41:00       3.750000
max       213.000000            2010-12-23 16:06:00      15.950000
std        17.005006                            NaN       2.626093

## **Analysis**

### Dataset

In [20]:
# Create dataset for Analysis
dbas = pd.pivot_table(datac, index='order_id', columns='product_name',
                     values='product_code', aggfunc= pd.Series.nunique, fill_value=0)
dbas.head()

product_name,10 COLOUR SPACEBOY PEN,12 ASS ZINC CHRISTMAS DECORATIONS,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 MINI TOADSTOOL PEGS,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE POSY,...,ZINC HEART LATTICE CHARGER LARGE,ZINC HEART LATTICE CHARGER SMALL,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC POLICE BOX LANTERN,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
order_id,,,,,,,,,,,,,,,,,,,,,
493414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493428,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493433,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# COlumns with values=1 are in the same order_id of the transaction
ro= dbas.iloc[0]
nonzero= ro[ro>0].index.tolist()

dbas.loc[['493414'],nonzero]

product_name,HAND OPEN SHAPE GOLD,NEW ENGLAND CERAMIC CAKE SERVER,RETRO SPOT LARGE MILK JUG,RETRO SPOT MUG,RETRO SPOT SUGAR JAM BOWL,RETRO SPOT TRADITIONAL TEAPOT
order_id,,,,,,
493414,1,1,1,1,1,1

In [22]:
dbas.head()

product_name,10 COLOUR SPACEBOY PEN,12 ASS ZINC CHRISTMAS DECORATIONS,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 MINI TOADSTOOL PEGS,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE POSY,...,ZINC HEART LATTICE CHARGER LARGE,ZINC HEART LATTICE CHARGER SMALL,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC POLICE BOX LANTERN,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
order_id,,,,,,,,,,,,,,,,,,,,,
493414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493428,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493433,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Take a columns with values=1 for dataset analysis
dbas= dbas[(dbas>0).sum(axis=1)>1]
dbas.head()

product_name,10 COLOUR SPACEBOY PEN,12 ASS ZINC CHRISTMAS DECORATIONS,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 MINI TOADSTOOL PEGS,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE POSY,...,ZINC HEART LATTICE CHARGER LARGE,ZINC HEART LATTICE CHARGER SMALL,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC POLICE BOX LANTERN,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
order_id,,,,,,,,,,,,,,,,,,,,,
493414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493428,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493432,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
493433,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
# Set as bolean
def bol(x):
    if x==0:
        return False
    else:
        return True
dbas= dbas.applymap(bol)
dbas.head()

C:\Users\fahru\AppData\Local\Temp\ipykernel_37240\145395753.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dbas= dbas.applymap(bol)

product_name,10 COLOUR SPACEBOY PEN,12 ASS ZINC CHRISTMAS DECORATIONS,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 MINI TOADSTOOL PEGS,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE POSY,...,ZINC HEART LATTICE CHARGER LARGE,ZINC HEART LATTICE CHARGER SMALL,ZINC HEART LATTICE DOUBLE PLANTER,ZINC HEART LATTICE PLANTER BOWL,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC HEART LATTICE TRAY OVAL,ZINC METAL HEART DECORATION,ZINC POLICE BOX LANTERN,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK
order_id,,,,,,,,,,,,,,,,,,,,,
493414,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
493427,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
493428,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
493432,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
493433,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Apply Apriori ALgorithm

In [44]:
# Create itemset data
from mlxtend.frequent_patterns import apriori

freq_item= apriori(dbas, min_support=.01, use_colnames=True).sort_values('support', ascending=False).reset_index(drop=True)
freq_item['product_count']= freq_item['itemsets'].apply(lambda x: len(x))
freq_item

,support,itemsets,product_count
0,0.179757,(WHITE HANGING HEART T-LIGHT HOLDER),1
1,0.101949,(REGENCY CAKESTAND 3 TIER),1
2,0.078806,(ASSORTED COLOUR BIRD ORNAMENT),1
3,0.074815,(STRAWBERRY CERAMIC TRINKET BOX),1
4,0.071823,(HOME BUILDING BLOCK WORD),1
...,...,...,...
995,0.010042,(BOX OF 9 PEBBLE CANDLES),1
996,0.010042,"(WHITE HANGING HEART T-LIGHT HOLDER, FELTCRAFT...",2
997,0.010042,(BANQUET BIRTHDAY CARD),1
998,0.010042,"(WOOD BLACK BOARD ANT WHITE FINISH, WOODEN FRA...",2
999,0.010042,"(GIN + TONIC DIET METAL SIGN, COOK WITH WINE M...",3

## **Result**

In [45]:
# Summary of Market Basket Metrics
from mlxtend.frequent_patterns import association_rules

product_ass= association_rules(freq_item, metric='confidence', min_threshold=0.7)\
                                .sort_values(['support','confidence'], ascending=[False,False]).reset_index(drop=True)
product_ass

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(RED HANGING HEART T-LIGHT HOLDER),(WHITE HANGING HEART T-LIGHT HOLDER),0.059054,0.179757,0.042894,0.726351,4.040749,1.0,0.032279,2.997433,0.799750,0.218941,0.666381,0.482488
1,(SWEETHEART CERAMIC TRINKET BOX),(STRAWBERRY CERAMIC TRINKET BOX),0.049145,0.074815,0.037374,0.760487,10.164840,1.0,0.033698,3.862776,0.948222,0.431644,0.741119,0.630021
2,(TOILET METAL SIGN),(BATHROOM METAL SIGN),0.026934,0.040500,0.021680,0.804938,19.874970,1.0,0.020589,4.918955,0.975972,0.473837,0.796705,0.670121
3,(PAINTED METAL PEARS ASSORTED),(ASSORTED COLOUR BIRD ORNAMENT),0.022345,0.078806,0.016958,0.758929,9.630387,1.0,0.015197,3.821251,0.916644,0.201422,0.738306,0.487059
4,(LARGE POPCORN HOLDER),(SMALL POPCORN HOLDER),0.023143,0.041830,0.016559,0.715517,17.105299,1.0,0.015591,3.368112,0.963845,0.342033,0.703098,0.555692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,"(POPPY'S PLAYHOUSE BATHROOM, POPPY'S PLAYHOUSE...",(POPPY'S PLAYHOUSE LIVINGROOM),0.010441,0.014963,0.010042,0.961783,64.277056,1.0,0.009886,25.775132,0.994829,0.653680,0.961203,0.816447
65,(POPPY'S PLAYHOUSE BATHROOM),"(POPPY'S PLAYHOUSE LIVINGROOM, POPPY'S PLAYHOU...",0.010973,0.013700,0.010042,0.915152,66.801618,1.0,0.009892,11.624255,0.995959,0.686364,0.913973,0.824081
66,"(KEY FOB , FRONT DOOR , KEY FOB , SHED)","(KEY FOB , BACK DOOR )",0.011106,0.021613,0.010042,0.904192,41.834860,1.0,0.009802,10.211911,0.987059,0.442815,0.902075,0.684404
67,"(KEY FOB , FRONT DOOR , KEY FOB , BACK DOOR )","(KEY FOB , SHED)",0.012436,0.025005,0.010042,0.807487,32.293023,1.0,0.009731,5.064557,0.981236,0.366505,0.802549,0.604541
68,"(POPPY'S PLAYHOUSE LIVINGROOM, POPPY'S PLAYHOU...",(POPPY'S PLAYHOUSE BATHROOM),0.013700,0.010973,0.010042,0.733010,66.801618,1.0,0.009892,3.704356,0.998712,0.686364,0.730048,0.824081